<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">

    </head>
    <body>
        <nav>
            <span><a href="/">Home</a></span>
            <span><a href="/blog">Main Blog Page</a></span>
            <span><a href="/newpost">Add a Blog Entry</a></span>
            
            {% if session['username'] %}
            <span><a href="/logout">Logout</a></span> 
            {% endif %}
            {% if not session['username'] %}
            <span><a href="/login">Login</a></span>
            {% endif %}
        </nav>
        {% with messages = get_flashed_messages() %}
            <ul>
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        {% endwith %}

{% block content %}
{% endblock  %}

    </body>
</html>