<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">

    </head>
    <body>
        <nav>
            <span><a href="/blog">Main Blog Page</a></span> <span><a href="/newpost">Add a Blog Entry</a></span>

        </nav>
        {% with messages = get_flashed_messages() %}
            <ul>
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        {% endwith %}

{% block content %}
{% endblock  %}

    </body>
</html>